# 忽略二进制文件
*.exe
tstohls
tstohls-service

# 忽略 HLS 实时切片目录（非常重要，这里全是临时小文件）
hls_temp/

# 忽略生成的频道配置和订阅文件（建议忽略，保持仓库纯净）
m3u/

# 忽略原始输入的 M3U 文件
*.m3u
!m3u/tstohls.m3u  # 如果你想在仓库里保留生成的订阅地址，可以加这一行，否则直接忽略整个目录

# 忽略开发环境配置
.vscode/
.idea/
*.swp

# 忽略日志文件
*.log